<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/app/public/css/main.css">
    <title>Soda Diner</title>
</head>

<body>
    <nav>
        <a href="/"><img src="/app/public/images/mongoose.jpg" alt="Image logo of thirsty mongoose"></a>
        <div id="pageLinks">
            <a href="/diners">All Diners</a>
            <a href="/sodas">All Sodas</a>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/app/public/javascript/main.js"></script>
</body>

</html>