<h1>NEW DINER</h1>
<form action="#" id="addDiner">
    <input id="name" type="text" placeholder="Diner name" required><br>
    <input id="location" type="text" placeholder="Location" required><br>
    <a href="/diners"><button class="btn">SUBMIT</button></a>
</form>