<h1>NEW SODA</h1>
<form action="#" id="addSoda">
    <input id="sodaName" type="text" placeholder="Soda name" required><br>
    <input id="fizziness" type="number" min="0" max="10" placeholder="Fizziness" required><br>
    <input id="rating" type="number" min="0" max="10" placeholder="Rating" required><br>
    <a href="/sodas"><button class="btn">SUBMIT</button></a>
</form>